.add-article-container{
  font-family: Roboto,sans-serif;
  border:1px solid #c6d9ec;
  border-radius:1px;
  padding:0px 10px 30px;
  background-color: transparent;
  box-shadow: 0px 5px 30px #777;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  min-height: 100%;
  width: 80%;
}

.input-app-fix{
  font-family: Roboto,sans-serif;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #435160;
  outline: none;
  color: #6D7781;
  font-size: 14px;
  padding-left: 15px;
  margin: 5px auto;
  min-height: 35px;
  width: 100%;
}

#addArticleForm{
  padding-top: 30px;
  position: relative;
}

#articleTitle {
  color: #145A32;
}

#selectCategory {
  padding-left: 9px;
  padding-bottom: 9px;
  margin-bottom: 20px;
}

#articleContent {
  height: 200px;
  color: #145A32;
}

#saveArticle {
  color: #fff;
  background-color: #1D8348;
  border-color: #145A32;
}

.select-article {
  display:inline-block;
  vertical-align:top;
  overflow:hidden;
}

.bloc select { 
  padding:10px; 
  margin:-5px -20px -5px -5px;
}

.close-add-article {
  cursor: pointer;
  position: relative;
  float: right;
  height: 40px;
  width: 40px;
  padding: 5px;
  font-size: 20px;
  text-align: center;
  font-family: Roboto,sans-serif;
}