.admin-toolbar {
  margin: 0;
  width: 100%;
  position: relative;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.action-icon {
  cursor: pointer;
}

.pull-left {
  float: left!important;
}

.articles-table {
  font-family: Roboto,sans-serif;
  text-align: center;
  border: 1px solid #c6d9ec;
  width: 100%;
  margin-top: 1px;
  margin-bottom: 15px;
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

thead.should-be-sortable {
  background-color: #273746;
  color: #ecf2f9;
}

tbody.should-be-sortable {
  background-color: #d9e6f2;
  color: #273746;
}

.should-be-sortable {
  width: 5px;
  cursor: pointer;
  text-shadow: none;
}

.modal-cat2 {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'PT Sans',sans-serif;
  text-align: center;
}

.add-article{
  text-align: right;
  margin: 10px!important;
  font-size: 14px;
}

.add-article>span {
  display: inline-block;
  position: relative;
  color: #1D8348;
  line-height: 23px;
  padding-left: 35px;  
}

.add-article>span:before {
  content: "+";
  position: absolute;
  height: 25px;
  width: 25px;
  border: 1px solid #145A32;
  left: 0;
  border-radius: 1px;
  font-size: 24px;
  line-height: 19px;
  text-align: center;
}

.delete-article{
  text-align: right;
  margin: 10px!important;
  font-size: 14px;
}

.delete-article>span {
  display: inline-block;
  position: relative;
  color: #212F3D;
  line-height: 23px;
  padding-left: 35px;  
}

.delete-article>span:before {
  content: "×";
  position: absolute;
  height: 25px;
  width: 25px;
  border: 1px solid #424949;
  left: 0;
  border-radius: 1px;
  font-size: 24px;
  line-height: 19px;
  text-align: center;
}

.no-table-content {
  background-color: #d9e6f2;
  color: #EC2D2B;
  height: 50px;
  width: 100%;
  padding-top: 10px;
  margin-bottom: 15px;
  text-align: center;
}

.admin-container-error {
  background-color: #AEB6BF; 
  /*margin: 5px auto 5px;*/
  min-height: 15px;
  width: 100%;
  z-index: -1;
}

.admin-container-error>span {
  font-size: 12px;
  font-weight: 500;
  font-family: 'PT Sans',sans-serif;
  line-height: 23px;
  margin-left: 21px;
  position: absolute;
  min-height: inherit;
  float: left;
  color: #EC2D2B;
}