section.articles {
  height: inherit;
  min-height: 600px;
  position: relative;
  background: gainsboro;
  border-width: 1px;
  border-style: solid;
  border-color: #fff;
  z-index: -1;
}

.annotations-background {
/*maintain heigth of parent*/
  top: 0;
  left: 0;
  bottom: 0;
/*inherit min height*/
  /*min-height: inherit;*/
  width: 30%;
  height: inherit;
  position: absolute;
  background: #fff;
  border-right: 1px solid gainsboro;
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
  z-index: -1;
}

ul.sections {
  display: block;
  list-style: none;
  padding: 0 0 5px 0;
  margin: 0;
}

ul.sections > li {
  white-space: nowrap;
  display: list-item;
  text-align: -webkit-match-parent;
}

ul.sections > li > div {
  display: inline-block;
}

ul.sections > li > div.annotation {
  min-width: 30%;
  max-width: 30%;
  min-height: 5px;
  overflow-x: hidden;
  white-space: normal;
  vertical-align: top;
  text-align: left;
  padding: 10px 25px 5px 30px;
}

ul.sections > li > div.content {
  font-size: 12px;
  line-height: 18px;
  font-family: "Lucida Console", monospace;
  margin: 0;
  padding: 0;
  padding: 10px 30px 1px 25px;
}

ul.sections > li#title {
  display: block;
  font-size: 1.8em;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;  
}

ul.sections p {
  font-size: 18px;
  font-family: aller-light;
  line-height: 26px;
  margin: 0 0 15px;
}

ul.sections pre {
  white-space: pre;
}